{% extends 'base.html' %}

{% block content %}
    <h1>Home</h1>
    {% if user %}
    <h1 class="text-center">Tasks</h1>
    <a href="{{ url_for('views.create_task') }}" class="btn btn-primary">New Task</a>
    <form method="GET" action="/filter" class="form-inline mb-2">
        <div class="form-group">
            <label for="status" class="mr-2">Filter By Status:</label>
            <select id="status" name="status" class="form-control">
                {% for option in status_options %}
                    <option value="{{ option }}">{{ option }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary ml-2">Filter</button>
    </form>
    
    <ul class="list-group" id="tasks">
        {% for task in tasks %}
        <li class="list-group-item" id="task-{{ task.id }}">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h5>{{ task.name }}</h5>
                    <p>{{ task.text }}</p>
                    <p>Created at: {{ task.created_at }}</p>
                    {% if task.created_at != task.updated_at %}
                        <p>Updated at: {{ task.updated_at }}</p>
                    {% endif %}
                    <p>Status: {{ task.status }}</p>
                </div>
                <div class="text-right">
                    {% if not task.public %}
                        <button type="button" class="btn btn-danger" onclick="deleteTask('{{ task.id }}')">&times;</button>
                        <button type="button" class="btn btn-success" onclick="reviveTask('{{ task.id }}')">&#10003;</button>
                    {% else %}
                        <button type="button" class="btn btn-danger" onclick="deleteTask('{{ task.id }}')">&times;</button>
                    {% endif %}
                    <a href="/update-task/{{ task.id }}" class="btn btn-primary">Edit</a>
                </div>
            </div>
        </li>
        {% else %}
            <li class="mb-5">No task found</li>
        {% endfor %}
    </ul>

    {% endif %}
{% endblock %}
