{% extends 'base.html' %}

{% block title %} signup {% endblock%}
{% block content %}
    <form method="POST">
        <h3 class="text-center">Login</h3>
        <div class="form-group">
            <label for="email">Endereço de e-mail</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Insira um E-mail">
        </div>

        <div class="form-group">
            <label for="password">Senha</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Insira uma Senha">
        </div>
        <button type="submit" class="btn btn-primary py-2 mt-5">Submit</button>
    </form>
{% endblock %}